*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar {
    background-color: rgb(16, 16, 53); 
    padding: .4rem .7rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar i{
    color: #fff;
    cursor: pointer;
}

.navlist{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: rgb(0, 73, 95); 
    display: none;
   
    transition: 2s ;
    width: 0;
}

.scroll {
    display: block;
    width: 50%;
    transition: 2s ;
}

.navlist li a{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer; 
}

.navlist li:hover{
    color: rgb(212, 175, 8); 
}

.navlist li{
    border-bottom: 1px dotted #fff;
    padding: .5rem 0;
    width: 90%;
    margin-left: .5rem;
    text-align: center;
}

.navlist .closelist{
    position: absolute;
    left: 105%;
    top: 0;
    padding: .1rem .7rem;
    background-color: rgb(7, 86, 110);
    border-radius: 0 0  6px 6px ;
}

.navlist .closelist i{ 
    color: #fff;
}

.search {
    position: absolute;
    top: 100%;
    left: 10%;
    height: 4%;
    display: none;
}

.active-search{
    display: block;
}

.search input{
    border: 3px solid rgba(25, 25, 27) ;
    border-radius: 5px;
    height: 1.5rem;
    padding: 0 0 0 1rem;
    outline: none; 
}
 

.header{ 
    background-color: #fff; 
}

.logo img{
    width: 100%;
    padding: 2rem 4rem 0rem 4rem;
    margin: 0 0 1rem 0 ;
}

.header .header-img{
    width: 100%; 
    background-image: url(/imgs/cigom5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 5rem;
    background-color: #444;    
    animation: change 50s ease-in-out infinite forwards;
}

@keyframes change {
    0% {
        background-image: url(./imgs/ciggom11.jpg);
    } 
    20% {
        background-image: url(./imgs/cigom2.jpg);
    } 
    40% {
        background-image: url(./imgs/cigom5.jpg);
    }
    60% {
        background-image: url(./imgs/cigom6.jpg);
    }  
}
 

.header-img {
    position: relative; 
}

.header .arrow {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 0;
    right: 0;
    top: 40%;
}


.header .arrow i {
    padding: .5rem;
    background-color: rgb(16, 16, 53);
    color: #fff;
    cursor: pointer;
}

.head-inbtn {
    background-color: #444;
    padding: 1.5rem;
}


/* our products */

.products {
    padding-bottom: 1rem;
}

.products h2{
    font-weight: 400;
    text-align: center;
    margin: 2rem;
    position: relative;
}

.products h2::before{
    content: ' ';
    height: 4px;
    width: 4rem;
    position: absolute;
    background-color: rgb(0, 73, 95);
    top: 110%;
    left: 36%;
}

.products .products-header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 5rem;
}

.products-header button,
.products-header select{
    width: 95%;
    margin: .2rem 1.5rem 0 .5rem;
    height: 2.5rem;
    border: none;
    color: #fff;
}

.products-header button{
    background-color: rgb(16, 16, 53);
}

.products-header select{
    color: #444;
    border: 1px solid #333;
}

.products-header option{
    background-color: #fff;
}


.items{
    background-color: rgba(16, 16, 53);
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 1rem;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item { 
    width: 15rem; 
    margin: .5rem;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 5px;
    padding-bottom: 1rem;
    cursor: pointer;
    height: 300px;
    background-color: rgba(255,255,255,.2);
    color: #fff;
}



.item-img{
    width: 100%;
    height: 10rem;
    transition: 1s;
}

 

.item-img img{
    width: 100%;
    height: 100%;
}

.item-text {
    text-align: center;
}

.item-text p {
    font-size: .8rem;
}
.item-text h3{
    font-weight: 400;
    font-size: 1rem;
}


/* news section */

.news{
    padding-bottom: 1rem;
    margin: 1rem;
}

.news-item{
    padding-bottom: 1rem;
    border-bottom: 1px solid #888;
}

.news h1{
    font-weight: 400;
    text-align: center;
    position: relative;
}

.news h1::before{
    content: ' ';
    height: 4px;
    width: 2rem;
    position: absolute;
    background-color: rgb(0, 73, 95);
    top: 100%;
    left: 45%;
    
}

.news-img{
    width: 12rem;
    height: 7rem; 
    margin-top: 2rem; 
    border: 1px solid rgb(224, 224, 224);
    padding: .3rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    
}

.news-img img{
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.news-text p{ 
    font-weight: 500; 
    margin-right: .1rem;
    color: #333;
}

.news-text p:nth-child(2){
    color: #777;
    font-size: .9rem;
    margin-top: 1rem;
}

.paral{
    width: 200px;  
    display: flex; 
}

.read-new1{
    background-color: rgb(16, 16, 53);
    width: 50%;  
    color: #fff;
    padding-top: .3rem;
    padding-left: .5rem;
}

.read-new2{
    background: #fff;
    width: 50%;  
    border-left: 20px solid rgb(16, 16, 53);
    border-top: 35px solid #fff;
}

/* about us section */

.about-img{
    width: 100%;
    height: 17rem; 
    background-image: url(./imgs/cigom12.png);
    background-repeat: no-repeat;
    background-position: center; 

}

.img-f{
    width: 50%; 
    height: 50%;
    background-color: rgba(255, 0, 0, 0);  
    
}

.img-s{
    width: 50%; 
    height: 50%; 
    border-left: 300px solid #fff;
    border-top: 200px solid rgba(255, 0, 0, 0); 
    
}  

.about {
    color: #333;
}

.about-text{
    margin-left: .5rem;
}

.about-text h2{ 
    font-weight: 400;
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}

.about-text h2::before{ 
    content: ' ';
    height: 4px;
    width: 4rem;
    position: absolute;
    background-color: rgb(0, 73, 95);
    top: 100%;
    left: 8%;
    
}

.about-video {
    margin: auto .5rem; 
}
.about-video p{
    margin-left: 1rem;
}

.about-video video {
    border-radius: 5px;
}


/* FAQ SECTION */

.faq{ 
    margin-top: 2rem;
    padding: 1rem 0;
    font-family: 'open-sans',Arial, Helvetica, sans-serif;
}

.faq h2{
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
}

.faq h2::before{
    content: ' ';
    height: 4px;
    width: 2rem;
    position: absolute;
    background-color: rgb(0, 73, 95);
    top: 100%;
    left: 45%;
}


.faq .img{
    width: 100%;
    height: 50vh;
    background-image: url(./imgs/faq2.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; 
    position: relative;
    margin-bottom: 2rem;
}

.faq-text{
    position: absolute;
    top: 50%;
    margin-left: 1rem;
    
}

.faq-text h3{
    font-weight: 400;
    font-size: 2rem;
}

.faq-text h4{
    font-weight: 400;
    font-size: 1.5rem;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:90%;
    border: none;
    text-align: center;
    outline: 15px;
    transition: 0.4s;
    border: 1px solid #777;
    padding: .5rem;
    margin: 1rem;
    font-size: .6rem;
}

.active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    width: 90%;
    transition: max-height 0.2s ease-out; 
    font-size: .8rem; 
    margin-left: 1rem;
    background-color: #eee;
  }


  .contact {
      background-color: rgb(16, 16, 53);
      padding: 1rem;
      text-align: center;
  }

  .contact .social{
      display: flex;
      justify-content: center;
      margin-bottom: 1.5rem;
  }

  .social .icon{
      margin-right: .5rem;
      background-color: rgb(214, 214, 214);
      height: 2rem;
      width: 2rem;
      padding-top: .3rem;
      border-radius: 50%;
  }

.fa-facebook{
    color: blue;
}

.fa-linkedin-in{
    color : rgba(50, 50, 196, 0.959);
}

.fa-twitter{
    color: rgba(0, 0, 255, 0.712);
}

.fa-youtube{
    color: red;
}

.contact-text h2{
    font-weight: 300;
    font-size: 1rem;
    color: #fff;
}

.contact-text a{
    color: #fff;
    text-decoration: underline;
}

.contact-text p {
    font-size: .9rem;
    color: rgb(116, 116, 116);
}

.footer{ 
    background-color: rgb(16, 16, 53);
    padding: 1rem auto;
    padding-bottom: 1rem;
}

.footer p{ 
    font-size: 96%;
    text-align: center;
    color: #fff;
}